@import "_variables";
@import "_mixins";
@import "_reset";
@import "_ui";
@import "_forms";
@import "_popup";


//<Подключаем шрифты>=======================================================================================
@font-face {
	font-family: 'PTSans';
	font-display: swap;
	src: url('../../fonts/PTSans-Regular.eot');
	src: local('☺'), url('../../fonts/PTSans-Regular.woff') format('woff'), url('../../fonts/PTSans-Regular.ttf') format('truetype'), url('../../fonts/PTSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas';
	font-display: swap;
	src: url('../../fonts/BebasNeue-Regular.eot');
	src: local('☺'), url('../../fonts/BebasNeue-Regular.woff') format('woff'), url('../../fonts/BebasNeue-Regular.ttf') format('truetype'), url('../../fonts/BebasNeue-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Akzidenz';
	font-display: swap;
	src: url('../../fonts/AkzidenzGroteskBQ-BdCnd.eot');
	src: local('☺'), url('../../fonts/AkzidenzGroteskBQ-BdCnd.woff') format('woff'), url('../../fonts/AkzidenzGroteskBQ-BdCnd.ttf') format('truetype'), url('../../fonts/AkzidenzGroteskBQ-BdCnd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


$primary-dark-color: #000000;
$primary-light-color: #ffffff;
$input-color: #959595;
$text-color-copyright: #4d4d4d;
$input-bg-color: #252525;
$bgc-advantage: #ebebeb;


//</Подключаем шрифты>=======================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&.loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw+px;
	margin: 0 auto;
	width: 100%;

	@media (max-width:$md1+px) {
		max-width: 750px;
	}

	@media (max-width:$md2+px) {
		max-width: none;
		padding: 0 10px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//</ОСНОВНОЙ БЛОК>===========================================================================================================


// HEADER START ======================================================================
.header {
	padding: 30px 0px 33px 0px;
	background-color: $primary-light-color;

	@media (max-width: $md2+px) {
		padding: 5px 0px 5px 0px;
	}
}

.header-top {
	@include flexbox();
	justify-content: space-between;
	padding: 15px 0 0 0;

	@media (max-width: $md2+px) {
		justify-content: flex-end;
		padding: 25px 0 0 0;
	}

	@media (max-width: $md4+px) {
		padding: 15px 0 0 0;
	}
}

.header-top-lang {
	@include flexbox();

	@media (max-width: $md2+px) {
		margin: 0px 0px 10px 0px;
	}
}

.header-top-lang__item {
	display: block;
	line-height: 19px;
	margin: 0 10px 0 0;
	color: $primary-dark-color;
	font-family: Bebas;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0 4px;

	&.active {
		color: $primary-light-color;
		background-color: $primary-dark-color;
	}
}

.header-top__link {
	color: $primary-dark-color;
	font-family: "Akzidenz", sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
	text-transform: uppercase;
	position: relative;
	z-index: 10;

	@media (max-width: $md4+px) {
		font-size: 13px;
	}
}

.header-bottom {
	@include flexbox();
	align-items: center;
	margin: -10px 0 0 0;

	@media (max-width: $md2+px) {
		margin: -37px 0px 0px 0px;
	}

	@media (max-width: $md2+px) {
		margin: -27px 0px 0px 0px;
	}

}

.header-bottom__column {
	flex: 0 0 33.333%;

	&:last-child {
		@include flexbox();
		justify-content: flex-end;
	}
}

.header-bottom-menu {}

.header-bottom-menu-list {
	@include flexbox();
	margin: 0 -22.5px;

	li {
		padding: 0 22.5px;
	}

	@media (max-width:$md1+px) {
		margin: 0 -10px;

		li {
			padding: 0 10px;
		}
	}

	@media (max-width: $md2+px) {
		display: block;

	}
}

.header-bottom-menu__link {
	color: $primary-dark-color;
	font-family: "Akzidenz", sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	position: relative;
	padding: 2px 0; 

	&:before {
		display: block;
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		background: #000;
		height: 2px;
		transition: .3s;
		width: 0%;
	}

	&:hover:before {
		width: 100%;
		left: 0;
	}


	@media (max-width: $md2+px) {
		line-height: 24px;
	}

	@media (max-width: $md4+px) {
		font-size: 13px;
	}
}

.header-logo {
	display: block;
	text-align: center;
	position: relative;
	z-index: 10;
}

.header-logo__text {
	display: block;
	color: $primary-dark-color;
	font-family: Bebas, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 8px;

	@media (max-width: $md2+px) {
		font-size: 8px;
	}

	@media (max-width: $md4+px) {
		letter-spacing: 4px;
	}
}

.header-logo__image {
	display: inline-block;
	margin: 13px 0px 22px 0px;

	@media (max-width: $md2+px) {
		margin: 3px 0px 5px 0px;

		img {
			width: 150px;
		}
	}

	@media (max-width: $md4+px) {
		img {
			width: 100px;
		}

		margin: 0px 0px 2px 0px;
	}
}

// ***************************************************************************
.header-menu__icon {
	display: none;
}

@media (max-width: $md2+px) {
	.header-menu__icon {
		display: block;
		position: absolute;
		top: 35px;
		left: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;

		@media (max-width: $md4+px) {
			top: 18px;
		}

		span {
			@include anim(.3s, 0s);
			top: 8px;
			left: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $primary-dark-color;

			&:first-child {
				top: 0
			}

			;

			&:last-child {
				top: auto;
				bottom: 0
			}

			;
		}

		&.active {
			span {
				@include scale(0);

				&:first-child {
					@include rotate(-45deg);
					top: 8px
				}

				;

				&:last-child {
					@include rotate(45deg);
					bottom: 8px
				}

				;
			}
		}
	}

	.header-menu-mobile {
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: auto;
		left: -120%;
		top: 0;
		background-color: $primary-light-color;
		padding: 80px 10px 0px 10px;
		@include anim(.6s, 0s);

		&.active {
			left: 0;
		}
	}
}

@media (max-width: $md4+px) {
	.header-menu-mobile {
		padding: 60px 10px 0px 10px;
	}
}

// HEADER END ===================================================================

.content {
	flex: 1 1 auto;
}

//CATERING START ====================================================================

.catering {
	@include flexbox();
	background-color: $primary-dark-color;
	margin: 0 0 75px 0;

	@media (max-width: $md2+px) {
		margin: 0 0 40px 0;
	}
}

.catering__column {
	flex: 0 0 50%;

	@media (max-width: $md2+px) {
		flex: 1 1 100%;

		&:first-child {
			display: none;
		}
	}
}

.catering__image {
	height: 100%;
}

.catering-body {
	padding: 75px 0px 75px 60px;

	@media (max-width: $md1+px) {
		padding: 30px 20px 30px 30px;
	}
}

.catering-body-content {
	max-width: 305px;
}

.catering-body__title {
	font-size: 50px;
	color: $primary-light-color;
	font-family: "Akzidenz", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: 5px;

	@media (max-width: $md1+px) {
		padding: 0 0 20px 0;
		font-size: 35px;
	}
}

.catering-body__text {
	color: $primary-light-color;
	font-family: "PTSans";
	font-size: 15px;
	line-height: 25px;
	margin: 37px 0px 55px 0px;

	@media (max-width: $md1+px) {
		margin: 0 0 30px 0;
	}
}

.catering-body-buttons {
	@include flexbox();
	align-items: center;
}

.catering-body-buttons__link {
	font-family: 'Bebas', sans-serif;
	color: $primary-light-color;
	margin: 0px 0px 0px 14px;
	font-size: 15px;
	line-height: 25px;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}


//CATERING END ======================================================================

// PRODUCTS START ============================================================================
.products {
	margin: 0px 0px 40px 0px;

	@media (max-width: $md2+px) {
		margin: 0;
	}
}

.products-body {
	@include flexbox();

	@media (max-width: $md2+px) {
		flex-wrap: wrap;
	}
}

.products__column {
	flex: 0 0 25%;
	margin: 0px 0px 40px 0px;

	@media (max-width: $md2+px) {
		flex: 0 0 50%;
	}

	@media (max-width: 380px) {
		flex: 1 1 100%;
	}
}

.products-item {
	height: 100%;
	@include flexbox();
	flex-direction: column;
	p {
		cursor: pointer;
	}
}

.products-item__image {
	display: block;
	padding: 0 0 100% 0;
	margin: 0px 0px 25px 0px;

	@media (max-width: 380px) {
		margin: 0px 0px 15px 0px;
	}
}

.products-item__title {
	font-family: 'Akzidenz';
	color: $primary-dark-color;
	font-size: 25px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	margin: 0px 0px 30px 0px;
	max-width: 185px;

	@media (max-width: 380px) {
		max-width: none;
		margin: 0px 0px 20px 0px;
	}
}

.products-item__text {
	font-size: 15px;
	line-height: 25px;
	margin: 0px 0px 20px 0px;
	max-width: 185px;
	padding: 0px 10px 0px 0px;
	flex: 1 1 auto;

	@media (max-width: 380px) {
		max-width: none;
		margin: 0px 0px 15px 0px;
	}
}

.products-item__btn {
	margin: 0px 0px 29px 0px;
}

.products-item__link {
	font-family: "Bebas", sans-serif;
	text-transform: uppercase;
	color: $primary-dark-color;
	font-size: 15px;
	text-decoration: underline;
	letter-spacing: 1.5px;

}

// PRODUCTS END ====================================================================================

//ADVANTAGE START ===================================================================================

.advantage {}

.advantage-top {
	@include flexbox();
	background-color: $primary-dark-color;
}

.advantage-top__column {
	flex: 0 0 50%;
	@media (max-width: $md1+px){
	  flex: 1 1 100%;
	  &:last-child{
		  display: none;
	  }
	}
}

.advantage-top__text {
	color: $primary-light-color;
	font-family: "Akzidenz", sans-serif;
	font-size: 50px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: right;
	padding: 55px 60px 55px 0;
	@media (max-width: $md1+px){
		padding: 40px 0;
		text-align: center;
		letter-spacing: 3px;
		font-size: 38px;
	}
	@media (max-width: $md4+px){
	  padding: 30px 0px;
	}
}

.advantage-top__image {
	height: 100%;
}

.advantage-bottom {
	background-color: $bgc-advantage;
	padding: 50px 0 0 0 ;
}

.advantage-bottom-row {
	@include flexbox();
	flex-wrap: wrap;
}

.advantage-bottom__column {
	flex: 0 0 50%;
	margin: 0 0 50px 0;
	@media (max-width: $md1+px){
	  flex: 0 0 100%;
	}
}

.advantage-bottom-item {
	@include flexbox();

}

.advantage-bottom-item__icon {
	@include flexbox();
	justify-content: center;
	align-items: center;
	background-color: $primary-dark-color;
	flex: 0 0 100px;
	height: 100px;
}

.advantage-bottom-item-body {
	flex: 1 1 100%;
	padding: 0 0 0 11px;
	@include flexbox();
	flex-direction: column;
}

.advantage-bottom-item-body__title {
	color: $primary-dark-color;
	font-family: "Akzidenz", sans-serif;
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	flex: 1 1 auto;
	padding: 0 12px 0 0;
	@media (max-width: $md4+px){
	  font-size: 18px;

	}
}

.advantage-bottom-item-body__text {
	color: $primary-dark-color;
	font-size: 15px;
	line-height: 25px;
	padding: 10px 12px 0 0;
	@media (max-width: $md4+px){
	  line-height: 16px;
	  font-size: 14px;
	}
}


//ADVANTAGE END ===================================================================================
//CONTACTS START ==================================================================================
.contacts {
	padding: 80px 0 0 0;
	@media (max-width: $md2+px){
	  padding: 30px 0px 0px 0px;
	}
}
.contacts-top {

}
.contacts__title {
	font-family: "Akzidenz", sans-serif;
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 5px;
	margin: 0 0 30px 0;
}
.contacts-body {
	@include flexbox();
	flex-wrap: wrap;
}
.contacts-body__column {
	flex: 0 0 50%;
	padding: 0 0 20px 0;
	@media (max-width: $md2+px){
		flex: 1 1 100%;
	}
}
.contacts-body__item {
	font-size: 15px;
	color: $primary-dark-color;
	padding: 0px 0px 0px 35px;
	line-height: 27px;
	display: inline-block;

	&--adr {background: url(../../build/img/icon-marker.svg) left no-repeat;}
	&--email {background: url(../../build/img/icon-email.svg) left no-repeat;}
	&--tel {background: url(../../build/img/icon-telephone.svg) left no-repeat;fill: red;}
}

.contacts-social {
	@include flexbox();
}
.contacts-social__item {
	margin: 0 30px 0 0;
	&:last-child{margin: 0 0 0 0;}
	a {
		display: inline-block;
		background: $primary-dark-color;
		border-radius: 50%;
		transition: .3s;
		&:hover {
			transition: .3s;
			background: $primary-light-color;
		}
	}
}


.contacts-content {
	@include flexbox();
	background-color: $primary-dark-color;
	@media (max-width: $md2+px){
		display: block;
	  }
}
.contacts-content__column {
	flex: 0 0 50%;
	
}
.contacts-content__map {
	height: 100%;
	@media (max-width: $md2+px){
	  height: 300px;
	}
}
.contacts-content-form {
	padding: 55px 60px;
	@media (max-width: $md2+px){
	  padding: 30px;
	}
}
.contacts-content-form__title {
	font-family: "Akzidenz", sans-serif;
	text-transform: uppercase;
	color: $primary-light-color;
	font-size: 25px;
	letter-spacing: 5px;
	margin: 0 0 30px 0;
}
.contacts-content-form-body {
	max-width: 375px;
	@media (max-width: $md2+px){
	  max-width: none;
	}
}
.contacts-content-form-line {
	margin: 0px 0px 25px 0px;
}

.contacts-content-form-button {}
.contacts-content-form-btn {}

//CONTACTS END ======================================================================

.footer {
	.footer-body {
		@include flexbox();
		justify-content: space-between;
		align-items: center;
		height: 125px;
		@media (max-width: $md2+px){
		  flex-direction: column;
		  height: auto;
		  padding: 15px 0;
		}
	}
	.footer-body__column {
		@media (max-width: $md2+px){
		  &:first-child{
			  order: 2;
		  }
		  &:last-child{
			  order: 1;
			  margin: 0px 0px 15px 0px;
		  }
		}
	}
	.footer__text {
		color: $text-color-copyright;
		font-size: 15px;
		line-height: 25px;
		a {
			text-decoration: underline;
			color: $text-color-copyright;
			&:hover{text-decoration: none;}
		}
		@media (max-width: $md2+px){
		 	text-align: center;
		}
	}
}

//</ОСНОВНОЙ БЛОК>===========================================================================================================