//<Сетка>======================================================================================================
$minwidth:320px;
$mw:880;
$md1:$mw+12;
$md2:768;
$md3:767.98;
$md4:479.98;
//<Сетка>=======================================================================================================


//<Шрифт по умолчанию>==========================================================================================
$fontfamily:"PTSans", sans-serif;
//</Шрифт по умолчанию>==========================================================================================

$primary-dark-color: #000000;
$primary-light-color: #ffffff;
$input-color: #959595;
$text-color-copyright: #4d4d4d;
$input-bg-color: #252525;